src/en/exp_patient/9_*
src/en/in_patient/9_*
src/ae/single_imputation/ip/*
src/ae/single_imputation/exp/*
src/ae/multi_imputation/ip/*
src/ae/multi_imputation/exp/*

.idea
data/**/combined/*
data/**/preprocessed/*
**/results/*
*_final_config*
*_input_features.yaml
data/bxs/*
!data/bxs/readme.md
data/rounds/*
!data/rounds/readme.md
data/bxs_15_µm/*
!data/bxs_15_µm/readme.md
data/bxs_30_µm/*
!data/bxs_30_µm/readme.md
data/bxs_60_µm/*
!data/bxs_60_µm/readme.md
data/bxs_90_µm/*
!data/bxs_90_µm/readme.md
data/bxs_120_µm/*
!data/bxs_120_µm/readme.md
